/* .root {
  --results-columns: 2;
}
.ListOfGifs {
  column-count: var(--results-columns);
  column-gap: 0.5rem;
}

.ListOfGifs-item {
  --webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 2;
  }
}
@media (min-width: 800px) {
  :root {
    --results-columns: 3;
  }
}
@media (min-width: 1200px) {
    :root {
      --results-columns: 4;
    }
  } */
.ListOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.ListOfGifs-item {
  width: 100%;
  height: 100%;
  text-align: center;
}
.ListOfGifs-item img {
  width: 100%;
  height: auto;
}
