/* ********* Custom Properties ********* */
:root {
  --background: #282c34;
  --font: sans-serif;
  --color: whitesmoke;
}

/* ********* Reset ********* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* Site styles */
body {
  background-color: var(--background);
  color: var(--color);
}

.logo-container {
  width: 100%;
  height: 20vh;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container img {
  display: block;
  height: 100%;
  text-align: center;
}
.logo-container h1 {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  text-align: center;
}
/*  */
.list-of-gifs{
  min-height: 100vh;
}